# Add the Libraries and Packages Required for the Project Here, These will be installed when Codespaces is started and on "make install"
#tensorflow[and-cuda]
tensorflow==2.10
numpy
matplotlib
pandas
scikit-learn
parquet
pyarrow
opencv-python-headless
opencv-python
scikit-image
tensorflow
numpy
opencv-python-headless  
pandas
Pillow
scikit-image
scipy
scikit-learn
torch

